{% extends "../layouts/base.twig" %}

{% block content %}
  <div class="row">
    <div class="main">
  {% if evento.estado == 'publicada' %}
      <h1>{{evento.titulo}}</h1></span>
      {% if evento.imagem.filename %}
         <img src="/images/{{evento.imagem.filename}}" style="max-width:100%">
      {% endif %}
      	  <p>Local do Evento: {{evento.localizacaoEvento}}</p>
	  <p>Data do Evento: {{evento._.dataEvento.format('YYYY-MM-DD')}}</p>
	  <p>Hora do Evento: {{evento._.dataEvento.format('H:m')}} horas</p>
      	  <p>
            {{evento.descricaoEvento}}
          </p>
	  <br><span>{{evento._.publicadoEm.format('YYYY-MM-DD H:m')}}<br>
	  <hr>
	  <p>
		<a href="/eventos">Voltar à Lista de Eventos:</a>
	  </p>
  {% endif %}
    </div>
  </div>
{% endblock %}
