{% extends "../layouts/base.twig" %}

{% block content %}
  <link rel='stylesheet' href='/css/home.css'>
   <div class="row">
    <div class="col-lg-9">
      <div class="d-flex">
      <div class="news-grid">
        <a href="/noticia/{{noticias[0].slug}}" class="cell1">
          <img src="{{noticias[0].imagem.url}}" alt="{{noticias[0].imagem.originalname}}">
          <div id="main-cell" class="headline">{{noticias[0].titulo}}</div>
        </a>
        <a href="/noticia/{{noticias[1].slug}}" class="cell2">
          <img src="{{noticias[1].imagem.url}}" alt="{{noticias[1].imagem.originalname}}">
          <div id="second-cell" class="headline">{{noticias[1].titulo}}</div>
        </a>
        <a href="/noticia/{{noticias[2].slug}}" class="cell2">
          <img src="{{noticias[2].imagem.url}}" alt="{{noticias[2].imagem.originalname}}">
          <div id="second-cell" class="headline">{{noticias[2].titulo}}</div>
        </a>
      </div>
    </div>
      <div class="d-flex flex-row flex-wrap events">
        <div class="past-events flex-fill">
          <table>
            <tr>
              <th>Últimos eventos</th>
            </tr>
	    {% for evento in eventos %}
	       {% if data.dataactual>=evento.dataEvento %}
	       	   <tr>
			<td>{{evento._.dataEvento.format('DD/MM/YYYY H:m')}}, {{evento.localizacaoEvento}}<br>
              	        <a href="/evento/{{evento.slug}}">{{evento.titulo}}</a></td>
            	   </tr>
	       {% endif %}
	    {% endfor %}
            <tr>
              <td id="section-link"> <a href="/fotos">Ver Fotos</a>
            </td>
            </tr>
          </table>
        </div>
      <!-- Future events -->
        <div class="future-events flex-fill">
          <table>
            <tr>
              <th>Próximos eventos</th>
            </tr>
            {% for evento in eventos %}
	       {% if data.dataactual < evento.dataEvento %}
	       	   <tr>
			<td>{{evento._.dataEvento.format('DD/MM/YYYY H:m')}}, {{evento.localizacaoEvento}}<br>
              	        <a href="/evento/{{evento.slug}}">{{evento.titulo}}</a></td>
            	   </tr>
	       {% endif %}
	    {% endfor %}	    
            <tr>
              <td id="section-link"> <a href="/eventos">Ver Calendário</a>
            </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="about-us">
        {{calltoaction.textoSeccao}}
      </div>
      <div class="jm">
        <h3>Judoca do mês:</h3>
        <h5>{{atletames[0].nome}}</h5>
        <img src="{{atletames[0].imagem.url}}" alt="{{atletames[0].imagem.originalname}}">
        <ul>
          <li>{{atletames[0].textoDescritivo}}</li>
        </ul>
      </div>
      <div class="results">
         {{resultados.textoSeccao}}
      </div>
    </div>
  </div>
<script> 
function results(i) {
  if (i == 1) {
    document.getElementById('provas-zonais').style.display='block';
    document.getElementById('provas-nacionais').style.display='none';
    document.getElementById('provas-internacionais').style.display='none';
  }

  else if (i == 2) {
    document.getElementById('provas-zonais').style.display='none';
    document.getElementById('provas-nacionais').style.display='block';
    document.getElementById('provas-internacionais').style.display='none';
  }

  else if (i == 3) {
    document.getElementById('provas-zonais').style.display='none';
    document.getElementById('provas-nacionais').style.display='none';
    document.getElementById('provas-internacionais').style.display='block';
  }
}

document.getElementById('provas-zonais').style.display='block';
document.getElementById('provas-nacionais').style.display='none';
document.getElementById('provas-internacionais').style.display='none';
var header = document.getElementById("btn-group");
var btns = header.getElementsByClassName("btn");
for (var j = 0; j < btns.length; j++) {
btns[j].addEventListener("click", function() {
  var current = document.getElementsByClassName("active-btn");
  current[0].className = current[0].className.replace(" active-btn", "");
  this.className += " active-btn";
  results(this.id);
 });
}
</script>
{% endblock %}
