{% extends "../layouts/base.twig" %}

{% block content %}
<link rel='stylesheet' href='/css/news.css'>
  <div class="row">
    <div class="main">
 {% for noticia in noticias %}
  {% if noticia.estado == 'publicada' %}
   {% if loop.first %}
      <h1>{{noticia.titulo}}</h1></span>
      {% if noticia.imagem.url %}
         <img src="{{noticia.imagem.url}}" alt="{{noticia.descricaoImagem}}" style="max-width:100%">
      {% endif %}
          <p>
            {{noticia.textoNoticia}}
          </p>
	  <br><span>{{noticia._.publicadoEm.format('YYYY-MM-DD H:m')}}<br>
   {% endif %}
  {% endif %}
 {% endfor %}
    </div>

    <div class="side">
      <h1>Mais notícias:</h1>
 {% for noticia in noticias %}
  {% if noticia.estado == 'publicada' %}
   {% if not loop.first %}
      <div class="news-small">
        <img src="{{noticia.imagem.url}}" alt="{{noticia.descricaoImagem}}" style="max-width:100%">
        <span>{{noticia._.publicadoEm.format('YYYY-MM-DD H:m')}}<br> <br>
        <a href="/noticia/{{noticia.slug}}">{{noticia.titulo}}</a></span>
      </div>
   {% endif %}
  {% endif %}
 {% endfor %}
    </div>
  </div>

{% endblock %}
